# The name of this workflow
name: Process Photo

# When a push is made to the master branch, run this workflow
on:
  push:
    branches: [ master ]

# At intervals specified by the schedule, run this workflow
# on:
  # schedule:
    # - cron: '*/10 * * * *'
      
# Create a development environment
jobs:
  build:

    # Run the development environment on the latest version of Ubuntu OS
    runs-on: ubuntu-latest
    steps:
    # Make the repo available
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      # Install Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      # Install pip and use pip to install third-party dependencies required to run the program
      run: |
        python -m pip install --upgrade pip
        pip install requests
        pip install Pillow
        pip install twython
    - name: Run python script
      env:	
        # Make the encrypted secrets stored in the repo settings available to the program
        APP_KEY: ${{ secrets.APP_KEY }}	
        APP_SECRET: ${{ secrets.APP_SECRET }}	
        OAUTH_TOKEN: ${{ secrets.OAUTH_TOKEN }}	
        OAUTH_TOKEN_SECRET: ${{ secrets.OAUTH_TOKEN_SECRET }}
      # Run the program
      run: python photo.py
